*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.Container{
    width: 100%;
    height: 100%;
   background: white;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;

    margin:0 20px;
    color: #443f3f;
    cursor: pointer;
}
.logo img{
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}
.active{
    color: #19dafa !important;
}
.Signup-btn{
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left ,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box,border-box;  
}
.Signup-btn span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: black;
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.app-text p{
    
    width: 650px;
    font-size: 15px;
    position: relative;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
}
.app-picture{
    width: 50%;
    float: right;
}
.app-picture img{
    width: 100%;
    margin-top:-20px ;
    padding-left: 50px;

}
.play-btn{
    margin-left:40px;
    display: inline-flex;
    

}

.play-btn-inner{
    width: 50px;
    height: 50px;
   
    border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(#edeef5,#edeef5),radial-gradient(circle at top left ,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box,border-box;  
  text-align: center;


}
.play-btn-inner img{
    width: 20px;
    padding: 14px 0;
    cursor: pointer;
}
small{
 margin: auto 20px;
 cursor: pointer;
 font-size: 12px; 
 color: #14a5be;  
 letter-spacing: 3px;
}

